body{
    background-image: url('../images/Getty-Images-1203437982-cor.jpg');
    background-size: 100% 100%;
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(155, 0, 255, 0.7);
}
.navbar-brand{
    width: 150px;
}
.navbar-brand img{
    border-radius: 50%;
}
.title h1 {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
}
.title h1 span{
    color: rgb(167, 6, 6);
}
/*********************************************************************************************/
.eachCountry{
    background-image: url('../images/1a376503-851d-4e48-a497-304b89b89ff7.jpg');
    background-size: 100% 100%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transition: 0.5s all;
}
.eachCountry:hover{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.data{
    margin-top: 150px;
}
.dateAndTime h1{
    color: white;
    text-shadow: 4px 4px rgb(102, 101, 101);
    font-weight: bold;
    font-size: 3.5rem;
}
#globalData h1{
    color: white;
    text-shadow: 4px 4px black ;
    font-weight: bold;
    font-size: 3rem;
}
#globalData span{
    color: red;
    text-shadow: 1.5px 1.5px black ;
    box-shadow: 0 0 45px white;
    font-weight: bold;
    padding: 5px;
    border-radius: 10rem;
    font-size: 2.5rem;
}
#globalData span::selection{
    background-color: black;
}
.countryName h4{
    color: darkblue;
    font-weight: bold;
}
.countrysData h5{
    color: black;
    font-weight: bold;
    font-size: 13px;
}
.countrysData h6{
    margin: auto;
    text-align: center;
    margin-top: 10px;
    color: darkblue;
    box-shadow: 0 0 55px black;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s all;
}
.countrysData h6:hover{
    background-color: #CF2E3B;
}